<h1>Angular Component Inheritance and Template Swapping</h1>

<button (click)="displayMobile = true">Desktop</button>
<button (click)="displayMobile = false">Mobile</button>

<p>
  Selected Flight Leg: <br>
  {{selectedFlightLeg.from}} - {{selectedFlightLeg.to}}
</p>

<app-flight-leg-mobile
  *ngIf="displayMobile"
  [flightLegs]="flightlegs"
  (select)="selectFlightLeg($event)"></app-flight-leg-mobile>

<app-flight-leg-desktop
  *ngIf="!displayMobile"
  [flightLegs]="flightlegs"
  (select)="selectFlightLeg($event)"></app-flight-leg-desktop>
